*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
ActivityMonitoring/local.properties
ActivityMonitoring/.idea/caches
ActivityMonitoring/.idea/libraries
ActivityMonitoring/.idea/modules.xml
ActivityMonitoring/.idea/workspace.xml
ActivityMonitoring/.idea/navEditor.xml
ActivityMonitoring/.idea/assetWizardSettings.xml
